body {
    width: 100%;
    height: 100%;
    background: #000;
    color: white;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	// 'Pragati Narrow'
}

html {
    width: 100%;
    height: 100%;
}

.section-title {
  margin-bottom: 150px;
  text-transform: uppercase;
  font-family: 'Pragati Narrow', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.navbar {
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  transition: font-size 0.5s ease-in-out, color 0.5s !important;
}

.navbar-default {
  background: #16171C;
  border: transparent;
  .fa {
    color: #777;
  }
}

.nav li a:hover {
  .fa {
    color: #333;
  }
  color: #333 !important;
  }

.btn:hover {
  background: #fff;
  .fa {
    color: #333;
  }
  }

.btn {
  margin: 10px;
  background: #777;
  text-decoration: none;
  color: #fff;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
  color: #fff;
}

.nav-brand-smaller {
  font-size: 16px;
  transition: font-size 0.5s ease-in-out;
}

.navbar-transparent {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
    .fa {
    color: #fff;
    transition: color 0.5s ease-in-out;
  }
  .navbar-brand{
      color: #fff !important;
      transition: color 0.5s ease-in-out;
  }
  .navbar-right a{
    color: #fff !important;
    transition: color 0.5s ease-in-out;
  }
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.intro-section {
    height: 100%;
    padding-top: 40vh;
    text-align: center;
    background: #fff;
  .intro-brand {
  font-weight: 700;
  // text-transform: uppercase;
  color: white;
  font-size: 6em;
}
  .intro-strapline {
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Pragati Narrow', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
}

.about-section {
    height: 150%;
    padding-top: 150px;
    text-align: center;
    background: #16171C;
    font-size: 1.5em;
  .about-me {
    max-width: 75%;
    margin:auto;
    text-align: left;
  }
  .about-me-list {
    text-align: left;
  }
}

.projects-section {
    min-height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #333;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

// Backgrounds
.fixed-bg {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  // min-width: 100%;
}

.bg-1 {
  background-image: url("https://images.unsplash.com/photo-1453227588063-bb302b62f50b?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1450");
}

.bg-4 {
  background-image: url("https://images.unsplash.com/reserve/wPCyys8TPCHY3GXm2N2D_ssp_inthewoods_1.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=7de4e7cb3e2ed0d865cd3d3156292a2c");
}

.bg-2 {
  background-image: url("https://images.unsplash.com/photo-1437075130536-230e17c888b5?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1450");
}

.bg-3 {
  background-image: url("https://images.unsplash.com/photo-1423958950820-4f2f1f44e075?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1450");
}

// Lines
.line1 {
	display: block;
	height: 12px;
	background: #43D8A8;
background: -moz-linear-gradient(left, #43D8A8 0%, #BCBCEC 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#43D8A8), color-stop(100%,#BCBCEC));
background: -webkit-linear-gradient(left, #43D8A8 0%,#BCBCEC 100%);
background: -o-linear-gradient(left, #43D8A8 0%,#BCBCEC 100%);
background: -ms-linear-gradient(left, #43D8A8 0%,#BCBCEC 100%);
background: linear-gradient(to right, #43D8A8 0%,#BCBCEC 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43D8A8', endColorstr='#BCBCEC',GradientType=1 );
}
.line2 {
	display: block;
	height: 12px;
	background: #2f61e2;
background: -moz-linear-gradient(left, #2f61e2 0%, #1ccea6 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2f61e2), color-stop(100%,#1ccea6));
background: -webkit-linear-gradient(left, #2f61e2 0%,#1ccea6 100%);
background: -o-linear-gradient(left, #2f61e2 0%,#1ccea6 100%);
background: -ms-linear-gradient(left, #2f61e2 0%,#1ccea6 100%);
background: linear-gradient(to right, #2f61e2 0%,#1ccea6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f61e2', endColorstr='#1ccea6',GradientType=1 );
}
.line3 {
	display: block;
	height: 12px;
  background: -webkit-linear-gradient(90deg, #cbf49a 10%, #1ea623 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #cbf49a 10%, #1ea623 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #cbf49a 10%, #1ea623 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #cbf49a 10%, #1ea623 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #cbf49a 10%, #1ea623 90%); /* W3C */
        
}
.line4 {
	display: block;
	height: 12px;
	 background: -webkit-linear-gradient(90deg, #703a95 10%, #1ea623 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #6481b5 10%, #703a95 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #6481b5 10%, #703a95 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #6481b5 10%, #703a95 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #6481b5 10%, #703a95 90%); /* W3C */
}

// Bouncing arrow
i {
  display: block;
  color: #fff;
}
.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 60px;
}
  
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.gallery-item {
  //background: #000;
  overflow: hidden;
  padding: 0;
  transition: all 200ms;
  position: relative;
  img {
    width: 100%;
    height: auto;
    //opacity: 0.5;
    transition: opacity 400ms;
    position: relative;
    z-index:1;
  }
}

.gallery-item:hover{
  img {
    opacity: 0.2;
    transition: opacity 400ms;
  }
  .overlay {
   display: block; 
   transition: display 400ms;
  }
}

.overlay {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0%;
    margin: 15px;
    line-height: 90%;
    text-align: left;
    font-size: 4em;
    font-weight: 600;
    text-transform: uppercase;
    display: none;
    transition: display 400ms;
  }
  
// Character picture!

/* colors */
@c-mouth: #831C21;
@c-beard: #A7761C;
@c-hair: #736831;
@c-glasses: #272310;
@c-eyes: #ffffff;
@c-skin: #DEC763;
@c-shirt: #006277; //#7A7A7A

.explicit {
  background: #16171C;
  position: absolute;
  padding-top: 180px;
  z-index: 5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.space {
  height: 400px;
}

.circle{
    position:relative;
    display: center;
    font-size: 15px;
    width:20em; height:20em;
    margin:0 auto;
    overflow:hidden;
    z-index: 2;
    background: #fff;
    padding-top: none;
    text-align: none;
}
.circle:after{
    content:'';
    position: absolute;
    display: center;
    border-radius:100%;
    width:20em; height:20em;
    box-shadow: 0px 0px 0px 200px #16171C;
}

/* Character body */
.willie-beamen {
  font-size: 15px;
  background: @c-mouth;
  height: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1em;
  box-shadow: 
    // Line 1 mouth
    -7em 0 0 @c-beard,
    -6em 0 0 @c-beard,
    -5em 0 0 @c-skin,
    -4em 0 0 @c-skin,
    -3em 0 0 @c-beard,
    -2em 0 0 @c-beard,
    -1em 0 0 @c-mouth,
    0 0 0 @c-mouth,
    1em 0 0 @c-beard,
    2em 0 0 @c-beard,
    3em 0 0 @c-skin,
    4em 0 0 @c-skin,
    5em 0 0 @c-beard,
    6em 0 0 @c-beard,
    
    //     line 2 beard
    -7em 1em 0 @c-beard,
    -6em 1em 0 @c-beard,
    -5em 1em 0 @c-beard,
    -4em 1em 0 @c-beard,
    -3em 1em 0 @c-beard,
    -2em 1em 0 @c-beard,
    -1em 1em 0 @c-beard,
    0em 1em 0 @c-beard,
    1em 1em 0 @c-beard,
    2em 1em 0 @c-beard,
    3em 1em 0 @c-beard,
    4em 1em 0 @c-beard,
    5em 1em 0 @c-beard,
    6em 1em 0 @c-beard,
    
    //     line 3 beard
    -6em 2em 0 @c-beard,
    -5em 2em 0 @c-beard,
    -4em 2em 0 @c-beard,
    -3em 2em 0 @c-beard,
    -2em 2em 0 @c-beard,
    -1em 2em 0 @c-beard,
    0em 2em 0 @c-beard,
    1em 2em 0 @c-beard,
    2em 2em 0 @c-beard,
    3em 2em 0 @c-beard,
    4em 2em 0 @c-beard,
    5em 2em 0 @c-beard,
    
    //     line 4 beard
    -5em 3em 0 @c-beard,
    -4em 3em 0 @c-beard,
    -3em 3em 0 @c-beard,
    -2em 3em 0 @c-beard,
    -1em 3em 0 @c-beard,
    0em 3em 0 @c-beard,
    1em 3em 0 @c-beard,
    2em 3em 0 @c-beard,
    3em 3em 0 @c-beard,
    4em 3em 0 @c-beard,
    
    //     line 5 beard
    -4em 4em 0 @c-beard,
    -3em 4em 0 @c-beard,
    -2em 4em 0 @c-beard,
    -1em 4em 0 @c-beard,
    0em 4em 0 @c-beard,
    1em 4em 0 @c-beard,
    2em 4em 0 @c-beard,
    3em 4em 0 @c-beard,
    
    //     line 1 shirt
    -6em 5em 0 @c-shirt,
    -5em 5em 0 @c-shirt,
    -4em 5em 0 @c-shirt,
    -3em 5em 0 @c-shirt,
    -2em 5em 0 @c-skin,
    -1em 5em 0 @c-skin,
    0em 5em 0 @c-skin,
    1em 5em 0 @c-skin,
    2em 5em 0 @c-shirt,
    3em 5em 0 @c-shirt,
    4em 5em 0 @c-shirt,
    5em 5em 0 @c-shirt,
    
    //     line 2 shirt
    -7em 6em 0 @c-shirt,
    -6em 6em 0 @c-shirt,
    -5em 6em 0 @c-shirt,
    -4em 6em 0 @c-shirt,
    -3em 6em 0 @c-shirt,
    -2em 6em 0 @c-shirt,
    -1em 6em 0 @c-shirt,
    0em 6em 0 @c-shirt,
    1em 6em 0 @c-shirt,
    2em 6em 0 @c-shirt,
    3em 6em 0 @c-shirt,
    4em 6em 0 @c-shirt,
    5em 6em 0 @c-shirt,
    6em 6em 0 @c-shirt,
    
    //     line 3 shirt
    -7em 7em 0 @c-shirt,
    -6em 7em 0 @c-shirt,
    -5em 7em 0 @c-shirt,
    -4em 7em 0 @c-shirt,
    -3em 7em 0 @c-shirt,
    -2em 7em 0 @c-shirt,
    -1em 7em 0 @c-shirt,
    0em 7em 0 @c-shirt,
    1em 7em 0 @c-shirt,
    2em 7em 0 @c-shirt,
    3em 7em 0 @c-shirt,
    4em 7em 0 @c-shirt,
    5em 7em 0 @c-shirt,
    6em 7em 0 @c-shirt,

        //     line 4 shirt
    -7em 8em 0 @c-shirt,
    -6em 8em 0 @c-shirt,
    -5em 8em 0 @c-shirt,
    -4em 8em 0 @c-shirt,
    -3em 8em 0 @c-shirt,
    -2em 8em 0 @c-shirt,
    -1em 8em 0 @c-shirt,
    0em 8em 0 @c-shirt,
    1em 8em 0 @c-shirt,
    2em 8em 0 @c-shirt,
    3em 8em 0 @c-shirt,
    4em 8em 0 @c-shirt,
    5em 8em 0 @c-shirt,
    6em 8em 0 @c-shirt,

    //     line 4 shirt
    -7em 9em 0 @c-shirt,
    -6em 9em 0 @c-shirt,
    -5em 9em 0 @c-shirt,
    -4em 9em 0 @c-shirt,
    -3em 9em 0 @c-shirt,
    -2em 9em 0 @c-shirt,
    -1em 9em 0 @c-shirt,
    0em 9em 0 @c-shirt,
    1em 9em 0 @c-shirt,
    2em 9em 0 @c-shirt,
    3em 9em 0 @c-shirt,
    4em 9em 0 @c-shirt,
    5em 9em 0 @c-shirt,
    6em 9em 0 @c-shirt,
    
    // Line 1 eyes
    -7em -1em 0 @c-glasses,
    -6em -1em 0 @c-glasses,
    -5em -1em 0 @c-glasses,
    -4em -1em 0 @c-glasses,
    -3em -1em 0 @c-glasses,
    -2em -1em 0 @c-glasses,
    -1em -1em 0 @c-beard,
    0 -1em 0 @c-beard,
    1em -1em 0 @c-glasses,
    2em -1em 0 @c-glasses,
    3em -1em 0 @c-glasses,
    4em -1em 0 @c-glasses,
    5em -1em 0 @c-glasses,
    6em -1em 0 @c-glasses,
    
    // Line 2 eyes
    -8em -2em 0 @c-skin,
    -7em -2em 0 @c-glasses,
    -6em -2em 0 @c-eyes,
    -5em -2em 0 @c-eyes,
    -4em -2em 0 @c-eyes,
    -3em -2em 0 @c-eyes,
    -2em -2em 0 @c-glasses,
    -1em -2em 0 @c-skin,
    0 -2em 0 @c-skin,
    1em -2em 0 @c-glasses,
    2em -2em 0 @c-eyes,
    3em -2em 0 @c-eyes,
    4em -2em 0 @c-eyes,
    5em -2em 0 @c-eyes,
    6em -2em 0 @c-glasses,
    7em -2em 0 @c-skin,
    
    // Line 3 eyes
    -8em -3em 0 @c-skin,
    -7em -3em 0 @c-glasses,
    -6em -3em 0 @c-eyes,
    -5em -3em 0 @c-eyes,
    -4em -3em 0 @c-glasses,
    -3em -3em 0 @c-glasses,
    -2em -3em 0 @c-glasses,
    -1em -3em 0 @c-skin,
    0 -3em 0 @c-skin,
    1em -3em 0 @c-glasses,
    2em -3em 0 @c-eyes,
    3em -3em 0 @c-eyes,
    4em -3em 0 @c-glasses,
    5em -3em 0 @c-glasses,
    6em -3em 0 @c-glasses,
    7em -3em 0 @c-skin,
    
    // Line 4 eyes
    -8em -4em 0 @c-glasses,
    -7em -4em 0 @c-glasses,
    -6em -4em 0 @c-eyes,
    -5em -4em 0 @c-eyes,
    -4em -4em 0 @c-glasses,
    -3em -4em 0 @c-glasses,
    -2em -4em 0 @c-glasses,
    -1em -4em 0 @c-glasses,
    0 -4em 0 @c-glasses,
    1em -4em 0 @c-glasses,
    2em -4em 0 @c-eyes,
    3em -4em 0 @c-eyes,
    4em -4em 0 @c-glasses,
    5em -4em 0 @c-glasses,
    6em -4em 0 @c-glasses,
    7em -4em 0 @c-glasses,
    
    // Line 5 eyes
    -7em -5em 0 @c-glasses,
    -6em -5em 0 @c-glasses,
    -5em -5em 0 @c-glasses,
    -4em -5em 0 @c-glasses,
    -3em -5em 0 @c-glasses,
    -2em -5em 0 @c-glasses,
    -1em -5em 0 @c-skin,
    0 -5em 0 @c-skin,
    1em -5em 0 @c-glasses,
    2em -5em 0 @c-glasses,
    3em -5em 0 @c-glasses,
    4em -5em 0 @c-glasses,
    5em -5em 0 @c-glasses,
    6em -5em 0 @c-glasses,
    
    // Line 1 hair
    -7em -6em 0 @c-hair,
    -6em -6em 0 @c-skin,
    -5em -6em 0 @c-skin,
    -4em -6em 0 @c-skin,
    -3em -6em 0 @c-skin,
    -2em -6em 0 @c-skin,
    -1em -6em 0 @c-skin,
    0 -6em 0 @c-skin,
    1em -6em 0 @c-skin,
    2em -6em 0 @c-skin,
    3em -6em 0 @c-skin,
    4em -6em 0 @c-skin,
    5em -6em 0 @c-skin,
    6em -6em 0 @c-hair,
    
    // Line 2 hair
    -7em -7em 0 @c-hair,
    -6em -7em 0 @c-hair,
    -5em -7em 0 @c-skin,
    -4em -7em 0 @c-skin,
    -3em -7em 0 @c-skin,
    -2em -7em 0 @c-skin,
    -1em -7em 0 @c-skin,
    0 -7em 0 @c-skin,
    1em -7em 0 @c-skin,
    2em -7em 0 @c-skin,
    3em -7em 0 @c-skin,
    4em -7em 0 @c-skin,
    5em -7em 0 @c-hair,
    6em -7em 0 @c-hair,
    
    // Line 3 hair
    -6em -8em 0 @c-hair,
    -5em -8em 0 @c-hair,
    -4em -8em 0 @c-hair,
    -3em -8em 0 @c-hair,
    -2em -8em 0 @c-hair,
    -1em -8em 0 @c-hair,
    0 -8em 0 @c-hair,
    1em -8em 0 @c-hair,
    2em -8em 0 @c-hair,
    3em -8em 0 @c-hair,
    4em -8em 0 @c-hair,
    5em -8em 0 @c-hair,
    
    // Line 4 hair
    -5em -9em 0 @c-hair,
    -4em -9em 0 @c-hair,
    -3em -9em 0 @c-hair,
    -2em -9em 0 @c-hair,
    -1em -9em 0 @c-hair,
    0 -9em 0 @c-hair,
    1em -9em 0 @c-hair,
    2em -9em 0 @c-hair,
    3em -9em 0 @c-hair,
    4em -9em 0 @c-hair,
}

.willie-beamen::after {
  -webkit-animation: look 4s steps(1) alternate infinite;
  animation: look 4s steps(1) alternate infinite;
  content: "";
  height: 1em;
  left: 0em;
  position: absolute;
  top: 0em;
  width: 1em;
  z-index: 1;
  box-shadow:
    // Line 4 hair
    -5em -9em 0 @c-hair,
    -4em -9em 0 @c-hair,
    -3em -9em 0 @c-hair,
    -2em -9em 0 @c-hair,
    -1em -9em 0 @c-hair,
    0 -9em 0 @c-hair,
    1em -9em 0 @c-hair,
    2em -9em 0 @c-hair,
    3em -9em 0 @c-hair,
    4em -9em 0 @c-hair,
}

@-webkit-keyframes look {
  0% {
    box-shadow:
      -8em -3em 0 @c-skin,
    -7em -3em 0 @c-glasses,
    -6em -3em 0 @c-eyes,
    -5em -3em 0 @c-eyes,
    -4em -3em 0 @c-glasses,
    -3em -3em 0 @c-glasses,
    -2em -3em 0 @c-glasses,
    -1em -3em 0 @c-skin,
    0 -3em 0 @c-skin,
    1em -3em 0 @c-glasses,
    2em -3em 0 @c-eyes,
    3em -3em 0 @c-eyes,
    4em -3em 0 @c-glasses,
    5em -3em 0 @c-glasses,
    6em -3em 0 @c-glasses,
    7em -3em 0 @c-skin,
    
    // Line 4 eyes
    -8em -4em 0 @c-glasses,
    -7em -4em 0 @c-glasses,
    -6em -4em 0 @c-eyes,
    -5em -4em 0 @c-eyes,
    -4em -4em 0 @c-glasses,
    -3em -4em 0 @c-glasses,
    -2em -4em 0 @c-glasses,
    -1em -4em 0 @c-glasses,
    0 -4em 0 @c-glasses,
    1em -4em 0 @c-glasses,
    2em -4em 0 @c-eyes,
    3em -4em 0 @c-eyes,
    4em -4em 0 @c-glasses,
    5em -4em 0 @c-glasses,
    6em -4em 0 @c-glasses,
    7em -4em 0 @c-glasses,
      
      // Line 4 hair
    -5em -9em 0 @c-hair,
    -4em -9em 0 @c-hair,
    -3em -9em 0 @c-hair,
    -2em -9em 0 @c-hair,
    -1em -9em 0 @c-hair,
    0 -9em 0 @c-hair,
    1em -9em 0 @c-hair,
    2em -9em 0 @c-hair,
    3em -9em 0 @c-hair,
    4em -9em 0 @c-hair,
      ;
  }
  25% {
    box-shadow:
       -8em -3em 0 @c-skin,
    -7em -3em 0 @c-glasses,
    -6em -3em 0 @c-eyes,
    -5em -3em 0 @c-glasses,
    -4em -3em 0 @c-glasses,
    -3em -3em 0 @c-eyes,
    -2em -3em 0 @c-glasses,
    -1em -3em 0 @c-skin,
    0 -3em 0 @c-skin,
    1em -3em 0 @c-glasses,
    2em -3em 0 @c-eyes,
    3em -3em 0 @c-glasses,
    4em -3em 0 @c-glasses,
    5em -3em 0 @c-eyes,
    6em -3em 0 @c-glasses,
    7em -3em 0 @c-skin,
    
    // Line 4 eyes
    -8em -4em 0 @c-glasses,
    -7em -4em 0 @c-glasses,
    -6em -4em 0 @c-eyes,
    -5em -4em 0 @c-glasses,
    -4em -4em 0 @c-glasses,
    -3em -4em 0 @c-eyes,
    -2em -4em 0 @c-glasses,
    -1em -4em 0 @c-glasses,
    0 -4em 0 @c-glasses,
    1em -4em 0 @c-glasses,
    2em -4em 0 @c-eyes,
    3em -4em 0 @c-glasses,
    4em -4em 0 @c-glasses,
    5em -4em 0 @c-eyes,
    6em -4em 0 @c-glasses,
    7em -4em 0 @c-glasses,
      
      // Line 4 hair
    -5em -9em 0 @c-hair,
    -4em -9em 0 @c-hair,
    -3em -9em 0 @c-hair,
    -2em -9em 0 @c-hair,
    -1em -9em 0 @c-hair,
    0 -9em 0 @c-hair,
    1em -9em 0 @c-hair,
    2em -9em 0 @c-hair,
    3em -9em 0 @c-hair,
    4em -9em 0 @c-hair,
      ;
  }
  50% {
    box-shadow:
        -8em -3em 0 @c-skin,
    -7em -3em 0 @c-glasses,
    -6em -3em 0 @c-eyes,
    -5em -3em 0 @c-glasses,
    -4em -3em 0 @c-glasses,
    -3em -3em 0 @c-eyes,
    -2em -3em 0 @c-glasses,
    -1em -3em 0 @c-skin,
    0 -3em 0 @c-skin,
    1em -3em 0 @c-glasses,
    2em -3em 0 @c-eyes,
    3em -3em 0 @c-glasses,
    4em -3em 0 @c-glasses,
    5em -3em 0 @c-eyes,
    6em -3em 0 @c-glasses,
    7em -3em 0 @c-skin,
    
    // Line 4 eyes
    -8em -4em 0 @c-glasses,
    -7em -4em 0 @c-glasses,
    -6em -4em 0 @c-eyes,
    -5em -4em 0 @c-glasses,
    -4em -4em 0 @c-glasses,
    -3em -4em 0 @c-eyes,
    -2em -4em 0 @c-glasses,
    -1em -4em 0 @c-glasses,
    0 -4em 0 @c-glasses,
    1em -4em 0 @c-glasses,
    2em -4em 0 @c-eyes,
    3em -4em 0 @c-glasses,
    4em -4em 0 @c-glasses,
    5em -4em 0 @c-eyes,
    6em -4em 0 @c-glasses,
    7em -4em 0 @c-glasses,
      
      // Line 4 hair
    -5em -9em 0 @c-hair,
    -4em -9em 0 @c-hair,
    -3em -9em 0 @c-hair,
    -2em -9em 0 @c-hair,
    -1em -9em 0 @c-hair,
    0 -9em 0 @c-hair,
    1em -9em 0 @c-hair,
    2em -9em 0 @c-hair,
    3em -9em 0 @c-hair,
    4em -9em 0 @c-hair,
      ;
  }
  75% {
    box-shadow:
        -8em -3em 0 @c-skin,
    -7em -3em 0 @c-glasses,
    -6em -3em 0 @c-glasses,
    -5em -3em 0 @c-glasses,
    -4em -3em 0 @c-eyes,
    -3em -3em 0 @c-eyes,
    -2em -3em 0 @c-glasses,
    -1em -3em 0 @c-skin,
    0 -3em 0 @c-skin,
    1em -3em 0 @c-glasses,
    2em -3em 0 @c-glasses,
    3em -3em 0 @c-glasses,
    4em -3em 0 @c-eyes,
    5em -3em 0 @c-eyes,
    6em -3em 0 @c-glasses,
    7em -3em 0 @c-skin,
    
    // Line 4 eyes
    -8em -4em 0 @c-glasses,
    -7em -4em 0 @c-glasses,
    -6em -4em 0 @c-glasses,
    -5em -4em 0 @c-glasses,
    -4em -4em 0 @c-eyes,
    -3em -4em 0 @c-eyes,
    -2em -4em 0 @c-glasses,
    -1em -4em 0 @c-glasses,
    0 -4em 0 @c-glasses,
    1em -4em 0 @c-glasses,
    2em -4em 0 @c-glasses,
    3em -4em 0 @c-glasses,
    4em -4em 0 @c-eyes,
    5em -4em 0 @c-eyes,
    6em -4em 0 @c-glasses,
    7em -4em 0 @c-glasses,
      
      // Line 4 hair
    -5em -9em 0 @c-hair,
    -4em -9em 0 @c-hair,
    -3em -9em 0 @c-hair,
    -2em -9em 0 @c-hair,
    -1em -9em 0 @c-hair,
    0 -9em 0 @c-hair,
    1em -9em 0 @c-hair,
    2em -9em 0 @c-hair,
    3em -9em 0 @c-hair,
    4em -9em 0 @c-hair,
      ;
  }
  90% {
    box-shadow:
      -8em -3em 0 @c-skin,
    -7em -3em 0 @c-glasses,
    -6em -3em 0 @c-glasses,
    -5em -3em 0 @c-glasses,
    -4em -3em 0 @c-eyes,
    -3em -3em 0 @c-eyes,
    -2em -3em 0 @c-glasses,
    -1em -3em 0 @c-skin,
    0 -3em 0 @c-skin,
    1em -3em 0 @c-glasses,
    2em -3em 0 @c-glasses,
    3em -3em 0 @c-glasses,
    4em -3em 0 @c-eyes,
    5em -3em 0 @c-eyes,
    6em -3em 0 @c-glasses,
    7em -3em 0 @c-skin,
    
    // Line 4 eyes
    -8em -4em 0 @c-glasses,
    -7em -4em 0 @c-glasses,
    -6em -4em 0 @c-glasses,
    -5em -4em 0 @c-glasses,
    -4em -4em 0 @c-eyes,
    -3em -4em 0 @c-eyes,
    -2em -4em 0 @c-glasses,
    -1em -4em 0 @c-glasses,
    0 -4em 0 @c-glasses,
    1em -4em 0 @c-glasses,
    2em -4em 0 @c-glasses,
    3em -4em 0 @c-glasses,
    4em -4em 0 @c-eyes,
    5em -4em 0 @c-eyes,
    6em -4em 0 @c-glasses,
    7em -4em 0 @c-glasses,
      
      // Line 4 hair
    -5em -9em 0 @c-hair,
    -4em -9em 0 @c-hair,
    -3em -9em 0 @c-hair,
    -2em -9em 0 @c-hair,
    -1em -9em 0 @c-hair,
    0 -9em 0 @c-hair,
    1em -9em 0 @c-hair,
    2em -9em 0 @c-hair,
    3em -9em 0 @c-hair,
    4em -9em 0 @c-hair,
      ;
  }
}
