body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #44;
	background: linear-gradient(80deg, #43D8A8, #BCBCEC);
    background-size: 200%;
    background-position: 100%;
    animation: background-animation 10s ease infinite alternate;
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.inner-page-wrapper {
    color: #fff;
    font-size: 30px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    @include respond-to(custom, 540px) {
        font-size: 24px;
    }
}

#footer {
    background: linear-gradient(80deg, #000, #333);
    margin: 0;
    padding: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: ;
    opacity: .9; 
}

ul.topnav li#topleft {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #43D8A8;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.roll {
  position: relative;
  width: 640px;
  height: 80px;
  
  cursor: default;
  
  perspective: 1000px;
  perspective-origin: 50% 50%;

  transform-style: preserve-3d;
  overflow: hidden;
}

.roll__front {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  background-color: transparent;
  z-index: 1;
  opacity: 1;
  transform: rotateX(0) translateY(0) translateZ(0);
  transform-origin: center bottom;
}

.roll__back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  background-color: transparent;
  opacity: 0;
  transform: rotateX(90deg) translateY(-100%) translateZ(0);
  transform-origin: center top;
}

.roll__front,
.roll__back {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: transform 280ms cubic-bezier(0, .2, .6, 1),
              opacity 180ms linear;
  backface-visibility: hidden;
}

.roll:hover {
  .roll__front {
    opacity: 0;
    transform: rotateX(-90deg) translateY(100%);
  }

  .roll__back {
    opacity: 1;
    transform: rotateX(0deg) translateY(0px);
  }
}
