body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #44;
	background: linear-gradient(80deg, #43D8A8, #BCBCEC);
    background-size: 200%;
    background-position: 100%;
    animation: background-animation 10s ease infinite alternate;
    padding-bottom:200px;
    position: relative;
}

@keyframes background-animation {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.inner-page-wrapper {
    color: #fff;
    font-size: 30px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    /*@include respond-to(custom, 540px) {*/
    /*    font-size: 24px;*/
    /*}*/
}

footer {
   background-color: #333;
   opacity: .9;
   position:absolute;
   bottom:0;
   width: 100%;
   height: 200px;
   margin: 0;
   padding: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: ;
    opacity: .9; 
}

ul.topnav li#topleft {
	float: left;
	display: block;
	color: white;
	font-weight: 500;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #43D8A8;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 768px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.fa-spin-hover:hover {
    animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
